<% layout('layouts/boilerplate') %>
    <!-- Header-->
    <header class="bg-dark py-5 hero-header">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Leaf Story Terrarium</h1>
                <p class="lead fw-normal text-white-50 mb-0">Bring Nature To Your House</p>
            </div>
        </div>
    </header>
    <section class="pt-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% for (let i=0; i< products.length; i++) { %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top product-img" src="<%=products[i].image%>" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">
                                        <a href="/product/<%=products[i]._id%>">
                                            <%= products[i].name %>
                                        </a>
                                    </h5>
                                    <%= products[i].price %>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"></button><a class="btn btn-success mt-auto" href="#">Add
                                        to
                                        cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>
    </section>
    <nav class="d-flex justify-content-center">
        <ul class="pagination">

            <!-- Previous -->
            <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                <a class="page-link" href="<%= currentPage === 1 ? '#' : '/?page=' + (currentPage - 1) %>"
                    tabindex="<%= currentPage === 1 ? '-1' : '0' %>" aria-disabled="<%= currentPage === 1 %>">
                    Previous
                </a>
            </li>

            <!-- Page Numbers -->
            <% for (let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="/?page=<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>

                    <!-- Next -->
                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                        <a class="page-link"
                            href="<%= currentPage === totalPages ? '#' : '/?page=' + (currentPage + 1) %>"
                            tabindex="<%= currentPage === totalPages ? '-1' : '0' %>"
                            aria-disabled="<%= currentPage === totalPages %>">
                            Next
                        </a>
                    </li>

        </ul>
    </nav>