<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product.name</title>
</head>

<body>
    <h1>Edit Product</h1>
    <form action="/product/<%=product._id%>?_method=PUT" method="POST">
        <div><label for="name">Name</label>
            <input type="text" id="product[name]" name="name" value="<%=product.name%>">
        </div>
        <div><label for="price">Price</label>
            <input type="number" step="0.01" id="price" name="product[price]" value="<%=product.price%>">
        </div>
        <div><label for="image">image
                <input type="text" name="product[image]" id="image" value="<%=product.image%>">
            </label></div>
        <div><label for="description">Description</label>
            <textarea name="product[description]" id="description"><%=product.description%></textarea>
        </div>
        <div><button>Update</button>
        </div>
    </form>
</body>

</html>