<% layout('layouts/boilerplate') %>

    <div>
        <div><button onclick="location.href='/admin/dashboard'" class="mt-3 btn-success btn-lg">Dashboard</button></div>
        <h1 class="text-center my-4">Order Overview</h1>
    </div>
    <div class="table-wrap mb-5">
        <table class="text-center" id="orderList">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Product</th>
                    <th>Size</th>
                    <th>Email</th>
                    <th>Amount Paid</th>
                    <th>Order date</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(o=> { %>
                    <% o.items.forEach((item, idx)=> {%>
                        <tr>
                            <% if (idx===0) {%>
                                <td rowspan="<%=o.items.length%>">
                                    <a href="/admin/orders/<%=o.orderNumber%>" style="text-decoration: none;">
                                        <%=o.orderNumber%>
                                    </a>
                                </td>
                                <%}%>
                                    <td>
                                        <%=item.name%>
                                    </td>
                                    <td>
                                        <%=item.size%>
                                    </td>
                                    <% if (idx===0) {%>
                                        <td rowspan="<%=o.items.length%>">
                                            <%=o.payment.email%>
                                        </td>
                                        <td rowspan="<%=o.items.length%>">
                                            <%= (o.payment?.status==='paid' )?
                                                ('$'+(((o.payment.amountCharged??o.payment.amountTotal)
                                                /100).toFixed(2))):'Unpaid' %>
                                        </td>
                                        <td rowspan="<%=o.items.length%>">
                                            <%=o.emailSentAt%>
                                        </td>
                                        <%}%>
                        </tr>
                        <%})%>
                            <%})%>
            </tbody>
        </table>
    </div>