<% layout('layouts/boilerplate') %>

    <div><button onclick="location.href='/admin/orderOverview'" class="btn btn-lg btn-success mt-3">Order Overview</button>
    </div>
    <h2 class="text-center mt-5">
        <%=order.orderNumber%>
    </h2>
    <div id="order"></div>
    <ul>
        <li>
            Email: <%=order.email%>
        </li>
        <li>
            IP: <a href="https://whatismyipaddress.com/ip/<%=order.ip%>" target="_blank""><%=order.ip%></a>
        </li>
        <li>
            Date: <%=(order.payment.paidAt?order.payment.paidAt:order.payment.attemptedAt).toLocaleString('en-us', { year: 'numeric', month:'short', day:'numeric', hour: 'numeric', minute: '2-digit'})%>
        </li>
        <li>
            Payment provider: <%=order.payment.provider.toUpperCase()%>
        </li>
        <li>
            Payment card: <%=order.payment.card?.brand??'-'%>
        </li>
        <li>
            Last 4 digits: <%=order.payment.card?.last4??'-'%>
        </li>
        <li>
            Total amount: $<%=String(Number(order.payment.amountTotal) /100)%>
        </li>
        <li>Item:
            <ul>
                <%order.items.forEach(e=> {%>
                    <li>
                        <%=e.name%> -
                            <%=e.size%> -
                                $<%=e.price%>
                    </li>
                    <%})%>
            </ul>
        </li>
    </ul>
    </div>