<% layout('layouts/boilerplate') %>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="/js/turnstile.js"></script>

    <% if (cart.items.length===0) {%>
        <h1 class="text-dark mt-5" id="cart">Your cart is empty</h1>
        <% } else {%>
            <div class="text-center mt-3 mb-5">
                <h1>Shopping Cart</h1>
            </div>
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% let subtotal=0; %>
                        <%cart.items.forEach(p=> {%>
                            <tr>
                                <td>
                                    <img src="<%=p.product.images[0].cartThumbnail%>" alt="">
                                </td>
                                <td>
                                    <%=p.product.name%>
                                </td>
                                <td>
                                    <%=p.size%>
                                </td>
                                <td>

                                    $<%=p.product.price%>
                                        <% subtotal+=p.product.price;%>
                                </td>
                                <td class="text-end">
                                    <form action="/cart/remove" method="POST" class="d-inline">
                                        <input type="hidden" name="productId" value="<%= p.product._id %>"
                                            data-product-id="<%=p.product._id%>">
                                        <input type="hidden" name="size" value="<%= p.size %>">
                                        <button type="submit" class="btn border-0">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <%})%>
                </tbody>
                <tfoot>
                    <tr class="border-0">
                        <td colspan="2"></td>
                        <td>Subtotal:</td>
                        <td class="fw-bold" id="subtotal">$<%=subtotal.toFixed(2)%>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <form action="/checkout/create-session" method='POST' class="d-flex justify-content-center  mt-5">
                <div class="d-flex flex-column align-items-center">
                    <div class="cf-turnstile" data-sitekey="0x4AAAAAACOFjC_zbncU7Qrj" data-theme="auto"
                        data-size="flexible" data-callback="onTurnstileSuccess" data-error-callback="onTurnstileError"
                        data-expired-callback="onTurnstileExpired"></div>
                    <div><button class="btn btn-primary mt-3" id="submit-btn" disabled>CHECK OUT</button></div>
                </div>
            </form>

            <%}%>