<% layout('layouts/boilerplate') %>
    <script
        src="https://www.paypal.com/sdk/js?client-id=AVU52xTQUSe2qW3ZWh-1Q_IO7dnyYi0qdIqm2ttcNetwo1mF6me29aia4kIc5ejzSF-A76oux9kxPT2p&currency=USD&intent=capture"></script>


    <% if (cart.items.length===0) {%>
        <h1 class="text-dark mt-5" id="cart">
            Your cart is empty
        </h1>
        <% } else {%>
            <div class="text-center mt-3 mb-5">
                <h1>Shopping Cart</h1>
            </div>
            <div class="d-flex justify-content-center">
            <table class="table table-sm align-middle w-auto" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th  class="text-center">Product</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Size</th>
                        <th class="text-center">Price</th>
                        <th class="lastCol"></th>
                    </tr>
                </thead>
                <tbody>
                    <% let subtotal=0; %>
                        <%cart.items.forEach(p=> {%>
                            <tr>
                                <td  class="text-center">
                                    <a href="/products/<%=p.product._id%>">
                                        <img src="<%=p.product.images[0].cartThumbnail%>" alt="">
                                    </a>
                                </td>
                                <td  class="text-center"><a href="/products/<%=p.product._id%>" style="text-decoration: none; color:black;">
                                        <%=p.product.name%>
                                    </a>
                                </td>
                                <td  class="text-center">
                                    <%=p.size%>
                                </td>
                                <td class="text-center">
                                    $<%=p.product.price%>
                                        <% subtotal+=p.product.price;%>
                                </td>
                                <td class="text-end lastCol"">
                                    <form action="/cart/remove" method="POST" class="d-inline">
                                        <input type="hidden" name="productId" value="<%= p.product._id %>">
                                        <input type="hidden" name="size" value="<%= p.size[0] %>">
                                        <button type="submit" class="btn border-0 removeProduct"
                                            data-price="<%=p.price%>" data-size="<%=p.size%>"
                                            data-product-id="<%=p.product._id%>" data-variant-id="<%=p.variantId%>">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <%})%>
                </tbody>
                <tfoot>
                    <tr class="border-0">
                        <td colspan="2"></td>
                        <td class="text-center">Subtotal:</td>
                        <td class="fw-bold text-center" id="subtotal">$<%=subtotal.toFixed(2)%>
                        </td>
                    </tr>
                </tfoot>
            </table>
            </div>

            <div class="container mb-3">
                <div class="d-flex justify-content-center align-items-center">
                    <div>
                        <form action="/checkout/create-session" method='POST'>
                            <div class="d-flex flex-column align-items-center">

                                <div><button class="btn btn-primary mt-4" id="submit-btn">Check out with
                                        cards/Cashapp</button></div>
                            </div>
                        </form>
                        <div><button id="crypto" type='button' class="btn btn-primary my-3" >Check out with
                                        Coinbase/Metamask</button></div>
                        <div><button id="paypal-redirect" class="btn p-0 border-0 bg-transparent mb-3 ms-4"
                                        data-subtotal="<%=subtotal.toFixed(2)%>" data-db-order-id="<%=cart.dbOrderId%>"><img id="paypal-button"
                                            src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png"
                                            alt="Pay with PayPal" />
                                    </button>
                                    </div>
                    </div>
                </div>
            </div>
            <script src="/js/paypalRedirect.js"></script>
            <script src="/js/cartRemoval.js"></script>
            <script src="/js/cryptoCheckout.js"></script>
            <%}%>