<% layout('layouts/boilerplate') %>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="/js/turnstile.js"></script>
    <script
        src="https://www.paypal.com/sdk/js?client-id=AVU52xTQUSe2qW3ZWh-1Q_IO7dnyYi0qdIqm2ttcNetwo1mF6me29aia4kIc5ejzSF-A76oux9kxPT2p&currency=USD"></script>

    <% if (cart.items.length===0) {%>
        <h1 class="text-dark mt-5" id="cart">Your cart is empty</h1>
        <% } else {%>
            <div class="text-center mt-3 mb-5">
                <h1>Shopping Cart</h1>
            </div>
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% let subtotal=0; %>
                        <%cart.items.forEach(p=> {%>
                            <tr>
                                <td>
                                    <a href="/products/<%=p.product._id%>">
                                        <img src="<%=p.product.images[0].cartThumbnail%>" alt="">
                                    </a>
                                </td>
                                <td><a href="/products/<%=p.product._id%>" style="text-decoration: none; color:black;">
                                        <%=p.product.name%>
                                    </a>
                                </td>
                                <td>
                                    <%=p.size%>
                                </td>
                                <td>

                                    $<%=p.product.price%>
                                        <% subtotal+=p.product.price;%>
                                </td>
                                <td class="text-end">
                                    <form action="/cart/remove" method="POST" class="d-inline">
                                        <input type="hidden" name="productId" value="<%= p.product._id %>">
                                        <input type="hidden" name="size" value="<%= p.size[0] %>">
                                        <button type="submit" class="btn border-0 removeProduct"
                                            data-price="<%=p.price%>" data-size="<%=p.size%>"
                                            data-product-id="<%=p.product._id%>" data-variant-id="<%=p.variantId%>">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <%})%>
                </tbody>
                <tfoot>
                    <tr class="border-0">
                        <td colspan="2"></td>
                        <td>Subtotal:</td>
                        <td class="fw-bold" id="subtotal">$<%=subtotal.toFixed(2)%>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="container">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <form action="/checkout/create-session" method='POST'
                            class="d-flex justify-content-center  mt-5">
                            <div class="d-flex flex-column align-items-center">
                                <div class="cf-turnstile" data-sitekey="0x4AAAAAACOFjC_zbncU7Qrj" data-theme="auto"
                                    data-size="flexible" data-callback="onTurnstileSuccess"
                                    data-error-callback="onTurnstileError" data-expired-callback="onTurnstileExpired">
                                </div>
                                <div><button class="btn btn-primary mt-3" id="submit-btn" disabled>Check out with
                                        cards/Cashapp</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="my-4 text-center">- OR -</div>
                    <div id="paypal-button" disabled></div>
                </div>
            </div>
            <script>
                const subTotalNum = "<%=subtotal.toFixed(2)%>";
                paypal.Buttons({
                    createOrder: (data, actions) => {
                        return actions.order.create({
                            purchase_units: [{
                                amount: { value: subTotalNum }
                            }]
                        });
                    },
                    onApprove: (data, actions) => {
                        return actions.order.capture();
                    }
                }).render('#paypal-button')
            </script>
            <script src="/js/cartRemoval.js"></script>

            <%}%>